@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@200&display=swap');

*{
    font-family: 'Petrona', serif;
}

/* ====== CSS WEB ====== */
.navbar-expand-lg{
    font-size: 20px;
    background-color: #FFFFFF;
}
.navbar-brand{
    font-size: 28px;
    font-weight: bolder;
}
.navbar-brand span{
    color: #FFC107;
}
.navbar-nav{
    margin-left: 100px;
    color: black;
    font-weight: bold;
}
.bienvenu{
    font-size: 30px;
    font-weight: bold;
}
/* ==== Section Profil === */
.profil span{
    font-weight: bold;
    font-size: 28px;
    margin-left: 30px;
}
.profil p{
    font-size: 24px;
    margin-left: 30px;
}
.profil img{
    height: 70%;
}
/* Section Formation */
.formation .bande{
    width: 100%;
    background: #FFC107;
}
/* ======= Media Queries==== */
@media screen and (max-width: 900px)
{
  .profil{
    margin-left: 0  px;    
     margin-right: 20px;
  }
    .nav-link a :hover{
        color: #FFC107;
    }
  .bienvenu{
      font-size: 24px;
      font-weight: bold;
  }
  .profil span{
      font-size: 22px;
      font-weight: bold;
      
  }
  .profil .change-text{
      color: #FFC107;
  }
  .profil p {
      font-size: 20px;
  }
  .profil img{
      height: 70%;
      width: 80%;
     
  }
  .col-profil{
      margin-top: -120px;
  }

  /* Section Formation */
    .formation #bande{
      width: 100%;
      height: 80px;
      border :none;
      background-color: #FFC107;
  }
  .formation .titre-bande{
      text-align: center;
      margin-top: -60px;
      font-weight: bold;
      font-size: 28px;
  }
  .formation img{
      width: 50px;
      margin-top: -130px;
      opacity: 0.33;
  }
  .formation .flex-column{
      margin-top: -10px;
      font-size: 20px;
  }
  .flex-column p{
      margin-left: -14px;
      margin-right: 5px;
  }
  .flex-column hr{
      color: #FFC107;
      width: 100%;
  }
    /* Competences */
    #competence #bande{
        width: 100%;
        height: 80px;
        border :none;
        background-color: #FFC107;
    }
    #competence img{
        width: 50px;
        margin-top: -130px;
        opacity: 0.33; 
    }
    #competence .bande-competence{
        text-align: center;
        margin-top: -60px;
        font-weight: bold;
        font-size: 28px;
    }
    #competence img{
     margin-left: 88%;
     margin-top: -70px;
    }
    #competence #ce-que-je-fais{
        font-size: 24px;
        font-weight: bold;
        margin-left: 20px;
    }
    #competence #p-competence{
        margin-left: 20px;
        font-size: 20px;
        margin-right: 10px;
        margin-top: 10px;
    }
    #competence .name-langage{
        font-size: 24px;
        font-weight: bold;
    }
    #competence .database{
        font-size: 24px;
        font-weight: bold;
        margin-top: -10px;
    
    }
    #competence .bd-highlight{
        margin-top: 20px;
        margin-left: -10px;
        font-size: 20px;
    }
    #competence .flex-column img{
        margin-left: 53px;
        width: 45px;
        margin-top: -50px;
        opacity: 2;
    }
    #competence .niveau-competence{
        margin-left: 20px;
    }
    #competence .progress{
        border: 1px solid #FFC107;
        width: 95%;
        height: 30px;
        background: #FFFFFF;
    }
    #competence .progress .color{
        background: #FFC107;
        border: none;
        width: 85%;
    }
    #competence .progress .color-php{
        background: #FFC107;
        border: none;
        width: 75%;
    }
    #competence .progress .color-bi{
        background: #FFC107;
        border: none;
        width: 50%;
    }
    #competence .progress .color-js{
        background: #FFC107;
        border: none;
        width: 70%;
    }
    #competence .progress .color-wp{
        background: #FFC107;
        border: none;
        width: 85%;
    }
    .niveau-competence span{
        font-size: 20px;
        color: black;
        font-weight: bold;
    }
    /* Projet  */
    #projet #bande{
        width: 100%;
        height: 80px;
        border :none;
        background-color: #FFC107;
    }
    #projet img{
        width: 50px;
        margin-top: -130px;
        opacity: 0.33; 
    }
    #projet .bande-projet{
        text-align: center;
        margin-top: -60px;
        font-weight: bold;
        font-size: 28px;
    }
    #projet img{
     
     margin-top: -130px;
    }
    #carouselExampleIndicators{
        margin-top: 20px;
        height: 80%;
    }
    #carouselExampleIndicators img{
        height: 500px;
        opacity: 2;
    }
}